<div class="text-center">
    <h1 class="display-4">Soy David. Vista parcial</h1>
    <h2>Soy un desarrollador full stack especializado en tecnologías .NET y JavaScript.</h2>
    <img id="foto"
         class="img-fluid" src="~/imagenes/pikachudev.jpg" alt="Foto de David" />


</div>

<div class="text-center">
    <img id="imagen-dotnet" src="~/imagenes/dotnet-imagen-2.png" alt="dotnet-logo" />
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>
            Desarrollador de software con más de 1.5 años de experiencia profesional especializado en tecnologías .NET, C# y desarrollo
            de aplicaciones web empresariales. He trabajado en proyectos web, de escritorio y de consola, integrando inteligencia
            artificial y automatización de procesos. Me caracterizo por mi capacidad de adaptación rápida, trabajo en equipo y mi
            enfoque en crear soluciones eficientes que generen valor real para el negocio.

        </p>
    </div>
</div>
