@{
    ViewData["Title"] = "Gracias";
}


<h1>Thanks for contacting us</h1>
<p>We will reply to your message as soon as possible</p>
<div>
    <a asp-action="Index" asp-controller="Home">Back to Home</a>
</div>