@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soy David</h1>
    <h2>Soy un desarrollador full stack especializado en tecnologías .NET y JavaScript.</h2>
    <img
        id="foto"
        class="img-fluid" src="~/imagenes/pikachudev.jpg" alt="Foto de David"/>
</div>
